<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transfer to INVESTMENT WALLET</title>

    <form th:action="@{/transfer/investment}"
          th:object="${investmentWalletRequest}"
          th:method="post">

        <label for="standardWalletId">Standard Wallet ID:</label>
        <input type="text" id="standardWalletId"
               th:field="*{standardWalletId}" />

        <label for="investmentWalletId">Investment Wallet ID:</label>
        <input type="text" id="investmentWalletId"
               th:field="*{investmentWalletId}" />

        <label for="amount">Amount:</label>
        <input type="number" step="0.01" id="amount"
               th:field="*{amount}" />


        <button type="submit">Transfer to Investment</button>
    </form>

</head>
<body>

</body>
</html>