<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | DareX Wallet</title>
    <!-- Включване на CSS файла за dashboard страницата -->
    <link rel="stylesheet" th:href="@{/css/home.css}" />
</head>
<body>
<!-- Header с лого и информация за потребителя -->
<header class="dashboard-header">
    <div class="header-container">
        <div class="user-info">
            <span>DareX Wallet</span>
        </div>
    </div>
</header>

<!-- Навигация -->
<nav class="dashboard-nav">
    <ul>
        <li><a th:href="@{/home}" class="active">Home</a></li>
        <li><a href="/transactions">Transactions</a></li>
        <li><a href="/cards">Cards</a></li>
        <li><a href="/settings">Settings</a></li>

        <a th:href="@{/logout}" class="logout-btn">Logout</a>
    </ul>
</nav>

<div class="single-section-box home-profile-information">
    <div class="profile-header">
        <img th:src="${#strings.isEmpty(user.profilePicture) ? 'https://icons.veryicon.com/png/o/miscellaneous/user-avatar/user-avatar-male-5.png' : user.profilePicture}" alt="Profile Picture" class="profile-avatar">
        <h2 class="profile-name" th:text="${user.username}"></h2>
        <div class="profile-status-role-container">
            <p th:if="${user.isActive()}" class="active-profile">ACTIVE</p>
            <p th:if="${!user.isActive()}" class="inactive-profile">INACTIVE</p>
        </div>
        <div class="details-section">
        </div>
    </div>
    <div class="profile-info">
        <div class="details-section-container">
            <strong>First Name: </strong>
            <p th:text="${#strings.isEmpty(user.firstName) ? 'Edit your profile and add your name' : user.firstName}"></p>
        </div>
        <div class="details-section-container">
            <strong>Username: </strong>
            <p th:text="${user.username}"></p>
        </div>
        <div class="details-section-container">
            <strong>Email: </strong>
            <p th:text="${user.email}"> </p>
        </div>
        <div class="details-section-container">
            <strong>Joined: </strong>
            <p th:text="${#temporals.format(user.createdOn, 'dd MMM YYYY HH:mm')}"></p>
        </div>
        <div class="details-section-container">
            <strong>Country: </strong>
            <p th:text="${#strings.capitalize(#strings.toLowerCase(user.country))}"></p>
        </div>
    </div>
    <a th:href="@{'/users/' + ${user.id} + '/profile'}" class="profile-actions-button">
        <p>Edit Profile</p>
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 4h4m0 0v4m0-4-5 5M8 20H4m0 0v-4m0 4 5-5"></path>
        </svg>
    </a>
</div>


<!-- Main съдържание на Dashboard-а -->
<main class="dashboard-main">
    <!-- Секция за показване на баланс -->
    <section class="balance-section">
        <h2>Standard Wallet</h2>
        <ul>
            <li th:each="wallet : ${user.getWallets()}">
                Wallet Balance: <span th:text="${wallet.getBalance()}"></span>
            </li>
        </ul>
    </section>

    <!-- Секция с бързи действия (например Send, Request, Top Up) -->
    <section class="quick-actions">
        <div class="action">
            <h3>Send Money</h3>
            <p>Transfer funds instantly.</p>
            <a class="btn" href="/transfers">Go</a>
        </div>
        <div class="action">
            <h3>Add money</h3>
            <p>Add funds to your wallet.</p>
            <a class="btn" href="/top-up">Go</a>
        </div>
    </section>

    <!-- Секция с последни транзакции -->
    <section class="transactions">
        <h2>Recent Transactions</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Amount</th>
                <th>Balance</th>
                <th>Note</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <!-- Пример за итерация през списъка с транзакции -->
            <tr th:each="transaction : ${transactions}">
                <td th:text="${transaction.id}"></td>
                <td>
                    <p th:if="${transaction.status.name() == 'FAILED'}" class="status terminated">FAILED</p>
                    <p th:if="${transaction.status.name() == 'SUCCEEDED'}" class="status active">SUCCEEDED</p>
                </td>
                <td th:if="${transaction.status.name() == 'FAILED'}" th:text="${transaction.type.name() == 'DEPOSIT' ? '+' + transaction.amount + ' EUR' : '-' + transaction.amount + ' EUR'}" class="crosslined"></td>
                <td th:if="${transaction.status.name() == 'SUCCEEDED'}" th:text="${transaction.type.name() == 'DEPOSIT' ? '+' + transaction.amount + ' EUR' : '-' + transaction.amount  + ' EUR'}"></td>
                <td th:text="${transaction.balanceLeft + ' EUR'}"></td>
                <td style="text-align: left" th:text="${transaction.status.name() == 'FAILED' ? transaction.failureReason : transaction.description}"></td>
                <td th:text="${#temporals.format(transaction.createdAt, 'dd MMM YYYY HH:mm')}"></td>

            </tr>
            </tbody>
        </table>
    </section>
</main>

<!-- Footer -->
<footer class="dashboard-footer">
    <p>&copy; 2025 DareX Wallet. All Rights Reserved.</p>
</footer>
</body>
</html>
