<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DareX Wallet</title>
    <!-- Включване на обновения CSS файл -->
    <link rel="stylesheet" th:href="@{/css/index.css}" />
</head>
<body>
<header>
    <h1>DareX Wallet</h1>
    <p class="tagline">EMPOWERING YOUR FUTURE WITH CUTTING-EDGE FINANCE</p>
</header>

<nav>
    <ul>
        <li><a th:href="@{/login}">LOGIN</a></li>
        <li><a th:href="@{/register}">REGISTER</a></li>
        <li><a th:href="@{/contact}">CONTACT</a></li>
    </ul>
</nav>

    <div class="cards">
        <div class="card card1">
            <span class="bank-name">DareX Wallet</span>
            <span class="chip"></span>
            <span class="card-number">VIRTUAL</span>
            <span class="card-number">**** **** **** 1234</span>
            <span class="card-holder">John Doe</span>
            <span class="exp-date">12/26</span>
        </div>
        <div class="card card2">
            <span class="bank-name">DareX Wallet</span>
            <span class="chip"></span>
            <span class="card-number">VIRTUAL</span>
            <span class="card-number">**** **** **** 5678</span>
            <span class="card-holder">Alice Smith</span>
            <span class="exp-date">10/27</span>
        </div>

    </div>
<main>

</main>

<footer>
    <p>&copy; 2025 DareX Wallet. All Rights Reserved.</p>
</footer>
</body>
</html>
