<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Internal Server Error</title>
  <link rel="stylesheet" href="/css/error.css">
</head>
<body>
<div class="error-container">
  <h1>500</h1>
  <h2>Internal Server Error</h2>
  <p>Oops! Something went wrong on our end. We are aware of the issue and are working hard to fix it.</p>
  <p>If the problem persists, please contact our support team for further assistance: support@darexwallet.com</p>
  <p th:text="${message}"></p>
  <div class="button-container">
    <button onclick="window.location.href='/'">GO BACK</button>
  </div>
</div>
</body>
</html>
