<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Referral Page</title>
    <link rel="stylesheet" href="/css/referral.css">
</head>
<body>
<div class="container">
    <h1>Referral Program</h1>

    <div class="user-info">
        <p>Welcome, <strong th:text="${currentUser.username}">User</strong>!</p>
    </div>

    <div class="referral-section">
        <h2> <strong> Your Referral Code </strong> </h2>
        <div class="form-group">
            <p th:if="${referral.referralCode != ''}">
                Your referral code is: <strong th:text="${referral.referralCode}"></strong>
            </p>
            <p class="message" th:if="${referral.referralCode == ''}">
                You haven't generated a referral code yet.
            </p>
        </div>

        <div class="form-group" th:if="${referral.referralCode == ''}">
            <form th:action="@{/referrals/create}" th:method="post">
                <button type="submit" class="btn">Generate New Referral Code</button>
            </form>
        </div>

        <div class="form-group">
            <p>People used your code: <strong th:text="${referral.getClickCount()}">User</strong>!</p>

        </div>

        <div class="form-group">
            <a class="btn" th:href="@{/settings}">Back To Settings</a>
        </div>
    </div>
</div>
</body>
</html>
