<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>DareX Wallet - Settings</title>
    <link rel="stylesheet" href="/css/settings.css">
</head>
<body>
<div class="settings-container">
    <aside class="settings-sidebar">
        <div class="logo">
            <h2>DareX Wallet</h2>
            <h2 th:text="${currentUser.username}"></h2>
        </div>

        <nav>
            <ul>
<!--                <li ><a href="#security">Security</a></li>-->
                <li class="active"><a href="#deactivation">Account</a></li>
                <li><a href="#bank-statement">Bank Statement</a></li>
                <li><a href="#referral-section">Referral</a></li>
            </ul>
            <a th:href="@{/home}" class="home-btn">HOME</a>
            <a href="/contact" class="home-btn">ABOUT US</a>
        </nav>
    </aside>

<!--TO DO ADD THIS FUNCTIONALITY-->
    <main class="settings-content">
<!--        <section id="security">-->
<!--            <h2>Security Settings</h2>-->
<!--            <form>-->
<!--                <label for="currentPassword">Current Password:</label>-->
<!--                <input type="password" id="currentPassword" name="currentPassword" placeholder="Current Password">-->
<!--                <label for="newPassword">New Password:</label>-->
<!--                <input type="password" id="newPassword" name="newPassword" placeholder="New Password">-->
<!--                <button type="submit">Change Password</button>-->
<!--            </form>-->
<!--        </section>-->

        <section id="deactivation">
            <h2>Account</h2>
            <p>If you deactivate your account, you will no longer be able to access it.</p>
            <form th:action="@{'/settings/' + ${currentUser.id} + '/status'}" th:method="post">
                <input type="hidden" name="_method" value="put"/>
                <button type="submit" class="download-btn">
                    Deactivate Account
                </button>
            </form>
        </section>

        <section id="bank-statement">
            <h2>Bank Statement</h2>
            <p>Download your bank statement as a PDF.</p>
            <a th:href="@{/statement/download}" class="download-btn">Download PDF</a>
        </section>

        <section id="referral-section">
            <h2>Referral Links</h2>
            <p>Invite your friends now!</p>
            <a th:href="@{/referrals}" class="download-btn">Generate your referral link now!</a>
        </section>
    </main>
</div>

<script>
    const sidebarLinks = document.querySelectorAll('.settings-sidebar nav ul li a');
    sidebarLinks.forEach(link => {
        link.addEventListener('click', function(e) {
            e.preventDefault();
            document.querySelector(this.getAttribute('href')).scrollIntoView({ behavior: 'smooth' });
            sidebarLinks.forEach(l => l.parentElement.classList.remove('active'));
            this.parentElement.classList.add('active');
        });
    });
</script>
</body>
</html>
