<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Transfers</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/transfers.css}" />
</head>
<body>
<h1>Transfers</h1>
<a th:href="@{create-transfer}">Create New Transfer</a>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Sender</th>
    <th>Receiver</th>
    <th>Amount</th>
    <th>Status</th>
    <th>Date</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="transfer : ${transfers}">
    <td th:text="${transfer.id}"></td>
    <td th:text="${transfer.sender}"></td>
    <td th:text="${transfer.receiver}"></td>
    <td th:text="${transfer.amount}"></td>
    <td th:text="${transfer.status}"></td>
    <td th:text="${transfer.createdAt}"></td>
    <td>
      <a th:href="@{'/transfers/' + ${transfer.id}}">View Details</a>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
