<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Transactions</title>
  <link rel="stylesheet" type="text/css" href="/css/home.css"/>
  <link rel="stylesheet" type="text/css" href="/css/transactions.css"/>
</head>
<body>
<header class="dashboard-header">
  <div class="header-container">
        <div class="user-info">
            <span>DareX Wallet</span>
        </div>
  </div>
</header>

<nav class="dashboard-nav">
  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/transactions" class="active">Transactions</a></li>
    <li><a href="/wallets">Wallets</a></li>
    <li><a th:href="@{/subscriptions}">Subscriptions</a></li>
    <li><a href="/cards">Cards</a></li>
    <li><a href="/settings">Settings</a></li>

    <a th:href="@{/logout}" class="logout-btn">Logout</a>
  </ul>
</nav>

<main class="content">
  <h1>All Transactions</h1>
  <div class="transaction-table-container">
    <table class="transaction-table">
      <thead>
      <tr>
        <th>Id</th>
        <th>Status</th>
        <th>Amount</th>
        <th>Balance</th>
        <th>Note</th>
        <th>Date</th>
      </tr>
      </thead>

      <tbody>
      <tr th:each="transaction : ${transactions}">
        <td th:text="${transaction.id}">1</td>

        <td>
          <span th:text="${transaction.status}">Status</span>
        </td>

        <td th:text="${transaction.type.name() == 'DEPOSIT' ? '+' + transaction.amount + ' EUR' : '-' + transaction.amount + ' EUR'}"
            th:classappend="${transaction.status.name() == 'FAILED'} ? ' crosslined' : ''">
          +0 EUR
        </td>


        <td th:text="${transaction.remainingBalance + ' EUR'}">0 EUR</td>

        <td style="text-align: left"
            th:text="${transaction.status.name() == 'FAILED' ? transaction.failureReason : transaction.description}">
          Note
        </td>

        <td th:text="${#temporals.format(transaction.createdAt, 'dd MMM yyyy HH:mm')}">
          01 Jan 2025 10:00
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</main>
<footer class="dashboard-footer">
  <p>&copy; 2025 DareX Wallet. All Rights Reserved.</p>
</footer>
</body>
</html>
