<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Wallet</title>
    <link rel="stylesheet" href="/css/wallet.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/transactions.css" />
</head>
<body>

<header class="dashboard-header">
    <div class="header-container">
        <div class="user-info">
            <span>DareX Wallet</span>
        </div>
    </div>
</header>

<!-- Навигация -->
<nav class="dashboard-nav">
    <ul>
        <li><a href="/home" >Home</a></li>
        <li><a href="/transactions">Transactions</a></li>
        <li><a href="/wallets" class="active">Wallets</a></li>
        <li><a href="/subscription">Subscriptions</a></li>
        <li><a href="/cards">Cards</a></li>
        <li><a href="/settings">Settings</a></li>

        <a th:href="@{/logout}" class="logout-btn">Logout</a>
    </ul>
</nav>


    <div class="wallet-page">

    <!-- Left Main Section -->
        <main class="main-content">
            <!-- Recent Transactions Section -->
            <div class="transactions-section">
                <h2>Recent Transactions</h2>
                <ul>
                    <li class="transaction-item" th:each="transaction : ${recentTransactions}">
                        <div class="transaction-details">
                            <h3 th:text="${transaction.description}">Transaction description</h3>
                            <p th:text="${#temporals.format(transaction.createdAt, 'dd/MM/yyyy')}">Date</p>
                        </div>
                        <span class="transaction-amount"
                              th:classappend="${transaction.amount < 0 ? 'negative-amount' : ''}"
                              th:text="${transaction.amount + ' EUR'}">0 EUR</span>
                    </li>
                </ul>
            </div>
        </main>

    <!-- Right Sidebar -->
        <aside class="sidebar">
            <div class="wallets-section">
                <h3>Wallets</h3>
                    <div class="single-section-box home-standard-wallet bigger-wallet-card" th:each="wallet : ${sortedWallets}" >
                    <!-- Wallet status indicator -->
                        <div class="default-label-box">
                            <span>STANDARD WALLET</span>
                            <p th:if="${wallet.status.name() == 'ACTIVE'}" class="active-wallet-status">ACTIVE</p>
                            <p th:if="${wallet.status.name() == 'INACTIVE'}" class="inactive-wallet-status">INACTIVE</p>
                        </div>
                        <div class="wallet-balance">
                            <p class="balance" th:text="${wallet.balance + ' EUR'}">20.00 EUR</p>
                            <p class="available-balance-text">Available Balance</p>
                        </div>
                        <div class="single-section-box home-standard-wallet bigger-wallet-card">
                            <!-- Wallet status indicator -->
                            <div class="default-label-box">
                                    <form th:action="@{/wallets/create-investment}" th:method="post" th:if="${user.wallets.size() < 2}">
                                        <button  class="create-investment-btn" type="submit">Create Investment Wallet</button>
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
        </aside>
    </div>
<footer class="dashboard-footer">
    <p>&copy; 2025 DareX Wallet. All Rights Reserved.</p>
</footer>
</body>
</html>
